.box {
    width: 150px;
    height: 150px;
    margin: 20px auto;
}
.box.box1 {
    background-color: red;
    transition: width 2s ease-in;
    -webkit-transition: width 2s ease-in;
}

.box.box1:hover {
    width: 300px;
}

.box.box3 {
    background-color: blue;
    transition: height 2s ease-in;
    -webkit-transition: height 2s ease-in;
}

.box.box3:hover {
    height: 300px;
    z-index: 1;
}

.box.box4 {
    background-color: green;
    transition: height 2s ease-in,width 2s ease-in;
    -webkit-transition: height 2s ease-in,width 2s ease-in;
}

.box.box4:hover {
    height: 300px;
    width: 300px;
    z-index: 2;
}