@media screen and (max-width: 992px) {
    #background {
        position: static;
        background-image: url('../img/man-1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 50%;
        width: 100%;
    }

    #header-content {
        position: static;
    }
    
    #header-content h1 {
        text-align: center;
        color: black;
        font-size: 20px;
    }

    #header-content span {
        text-align: center;
        color: black;
        font-size: 30px;
    }

}

@media screen and (min-width: 993px) and (max-width:1170px) {
    #background {
        position: absolute;
        background-image: url('../img/man-2.jpg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 70%;
        width: 100%;
    }

    #header-content {
        position: absolute;
        right: 0;
        top: 0;
        padding-right: 30px;
        margin: 0;

    }
    #header-content h1 {
        font-size: 20px;
    }
    
    #header-content span {
        font-size: 30px;
    }
}