@media screen and (max-width: 992px) {
    img {
        height: 50%;
    }
    
    .p1 {
        font-size: 15px;
    }
    
    .p2 {
        font-size: 25px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1170px) {
    img {
        height: 70%;
        position: relative;
    }
    
    .p1 {
        text-align: right;
        color: #fff;
        position: absolute;
        margin-top: 20px;
    } 
}